@model Kitapturu


<form method="post">
	<div class="border p-3 mt-5">
		<div class="row pb-3">
			<h2 class="text-primary">kitap türü sil </h2>
			</hr>
		</div>
		<div class="mb-3">
			<lable asp-for="Ad" class="p-0">
				kitap türü:
			</lable>
			<input asp-for="Ad" class="form-control">
			<span asp-validation-for="Ad" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-lg btn-primary" style="width:250px"> kitep türü sil</button>
		<a asp-controller="Kitapturu" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px type="submit">
			kitap türlerine geri dön
		</a>


	</div>

</form>

